.signup-wrapper{
    width: 70%;
    max-width: 450px;
    height: auto;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    margin-top: 5rem;
    
}
.title{
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}
.title span{
    color: var(--theme);
}

.gap{
    text-align: center;
    margin: 1rem 0rem;
    font-weight: 300;
    font-size: 0.8rem;
}

.gap span{
    cursor: pointer;
}